a {
    font-family: 'Merriweather',
}

p,
h5 {
    font-family: 'Merriweather';
    font-weight: bold;
}

.desktop {
    @media(max-width:$screen-sm-min) {
        display: none;
    }
}

.mobile {
    display: none;

    @media(max-width:$screen-sm-min) {
        display: inline-block;

    }
}

.main__wrapper {
    height               : 100vh;
    display              : grid;
    grid-template-columns: 3fr 7fr;

    @media(max-width:$screen-sm-min) {
        grid-template-columns: 100%;
    }
}


.main__wrapper-static,
.main__wrapper-slider {
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center center;
}

.main__wrapper-slider {
    background-image   : url('../images/background.jpg');
    display            : flex;
    flex-wrap          : wrap;
    background-position: bottom;

    @media(max-width:$screen-sm-min) {
        flex-direction: column-reverse;
    }


    h5,
    p {
        color: #fff;
    }

    >div {
        &:first-of-type {
            backdrop-filter: blur(5px);
            background     : rgba(29, 55, 60, 0.54);
            padding        : 6% 5%;
            width          : 33%;

            @media(max-width:$screen-sm-min) {
                width          : 100%;
                backdrop-filter: none;
                display        : inline-block;
                text-align     : center;
            }


            h5 {
                font-size: 1.8rem;

                &:after {
                    content   : '';
                    width     : 90px;
                    height    : 4px;
                    background: #19bd9c;
                    display   : block;

                    @media(max-width:$screen-sm-min) {
                        margin: 0 auto;
                    }
                }
            }

            p {
                font-size: 1.2rem;
            }
        }
    }

}

.slider__indicator {
    display  : flex;
    flex-wrap: wrap;
    width    : 100%;

    @media(max-width:$screen-sm-min) {
        display: none;
    }

    div {
        width: 33%;
    }

    .slider__bar {
        background-color: #252839;
        display         : flex;
        flex-direction  : column;
        justify-content : space-around;
        align-items     : center;
        height          : 115%;
        padding         : 5% 0 2% 0;


        div {
            display        : flex;
            justify-content: space-around;
            width          : 100%;
        }

        span {
            width     : 80px;
            height    : 2px;
            background: #fff;
            display   : inline-block;
            align-self: flex-start;
            margin-top: 5%;

        }

        a {
            color      : #fff;
            font-weight: bold;
            font-size  : 1rem;
            cursor     : pointer;

            &:active,
            &:hover {
                color: #fff;
            }
        }

    }

}

.main__wrapper-static {
    background-image: url('../images/rock.jpg');
    display         : flex;
    flex-direction  : column;
    align-items     : flex-end;

    .call_to_action {
        transform: translate(60%, 80%);
        position : relative;
        z-index  : 99;
        width    : 200%;

        @media(max-width:$screen-sm-min) {
            transform: translate(-50%, 300%);
            position : absolute;
            left     : 50%;
            width    : 100%;
        }

        h1 {
            margin-bottom: 5%;
        }

    }

    h1 {
        color    : #fff;
        font-size: 4.4rem;

        @media(max-width:$screen-sm-min) {
            font-size: 3.4rem;
            width    : 200px;
        }
    }

    a {
        color             : #fff;
        padding           : 20px;
        background-color  : #ff1c5e;
        font-size         : 1.6em;
        -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
        -moz-box-shadow   : 10px 10px 5px -4px rgba(0, 0, 0, 0.75);
        box-shadow        : 10px 10px 5px -4px rgba(0, 0, 0, 0.75);

        @media(max-width:$screen-sm-min) {
            display: none;
        }
    }

    img {
        align-self: center;
        top       : 5%;
        position  : relative;

        @media(max-width: $screen-sm-min) {
            top      : 50%;
            z-index  : 9;
            max-width: 150px;
        }
    }
}


.slider__items {

    width   : 67%;
    position: relative;

    h1 {
        position : absolute;
        bottom   : 10%;
        left     : 50%;
        transform: translateX(-50%);
        color    : #fff;
        font-size: 3rem;
    }



    &--rocket {
        background-image : url('../images/rocket.png');
        background-repeat: no-repeat;
        background-size  : cover;
        width            : 34.1%;
        left             : 32.9%;
        position         : relative;

        ~.slider__indicator {
            .next__indicator {
                background: #19bd9c;
            }

            .next {
                color: #fff;
            }

            .prev {
                color: #19bd9c;
            }
        }

        span {
            background: #fff;
        }

        @media (max-width:$screen-sm-max) {
            background-position: 100% 0%;
            background-size    : cover;
        }

    }

    &--moon {
        background-image : url('../images/background_moon.png');
        background-size  : cover;
        background-repeat: no-repeat;

        @media(max-width:$screen-sm-min) {
            background-image   : url('../images/rocket.png');
            background-position: top;
            min-height         : 500px;
            width              : 100%;
            background-size    : cover;
        }

        ~.slider__indicator {
            .prev__indicator {
                background: #19bd9c;
            }

            .prev {
                color: #fff;
            }

            .next {
                color: #19bd9c;
            }
        }
    }

}
